{% extends "common/base.html" %}

{% block title %}NSA{% endblock %}

{% block main %}

<style>
.cssanimations .stream-live-animation {
  display: block;
  height: 16px;
  width: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-radius: 16px;
  padding: 0;
  border: 5px solid #b01;
  float: left;
  position: absolute;
  left: -7px;
  -webkit-animation: stream-live-animation 1.9s infinite ease-out;
  -webkit-transform: scale(.1,.1);
  -moz-transform: scale(.1,.1);
  -moz-animation: stream-live-animation 1.9s infinite ease-out;
}
.cssanimations .stream-live-animation-dot {
  display: block;
  position: absolute;
  top: 11px;
  left: 4px;
  height: 4px;
  width: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-radius: 4px;
  background-color: #b01;
}
.stream-pulse {
  top: -4px;
  left: 7px;
}
.stream-pulse {
  height: 18px;
  width: 18px;
  position: absolute;
  display: block;
}
.blink {
    animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to {
    color: #FF0000;
    <!--visibility: hidden;-->
    }
}
@-webkit-keyframes blink {
    to {
    color: #FF0000;
    <!--visibility: hidden;-->
    }
}

.large{
    font-size: 85px;
}

#tiem {
    margin-top: 200px;
    margin-bottom: 200px;
}
<!--body{-->
    <!--animation: test 1s steps(5, start) infinite;-->
    <!---webkit-animation: test 1s steps(5, start) infinite;-->
<!--}-->

<!--@keyframes test {-->
    <!--to {-->
        <!--background-color: #FF0000;-->
    <!--}-->
<!--}-->

</style>

<!-- Main row -->
<div class="row">
  <div>
  <!--<div>-->
      <!--<h1 class="page-header">Time left to delivery: <div class="blink" id="countdown"></div></h1>-->
  <!--</div>-->
  <!--<div>-->
    <!--<div id="theweather"></div>-->
  <!--</div>-->
  </div>
<!--page-header-->
    <h1 id="tiem" class="large">Time left to delivery: <div class="blink" id="countdown"></div></h1>
    <div id="theweather" class="large"></div>
</div>

</div>


<script> CountDownTimer('05/18/2015 11:59 PM', 'countdown');

    function CountDownTimer(dt, id)
    {
        var end = new Date(dt);

        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;

        function showRemaining() {
            var now = new Date();
            var distance = end - now;
            if (distance < 0) {

                clearInterval(timer);
                document.getElementById(id).innerHTML = 'You should have DELIVERED!';

                return;
            }
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);

            document.getElementById(id).innerHTML = days + ' days ';
            document.getElementById(id).innerHTML += hours + ' hrs ';
            document.getElementById(id).innerHTML += minutes + ' mins ';
            document.getElementById(id).innerHTML += seconds + ' secs';
        }

        timer = setInterval(showRemaining, 1000);
    }

    var nr = 0;
    get_weather();
    window.setInterval(function(){
        get_weather();
    },60000);
    
    function get_weather(){
        $.getJSON("/get_weather_now", function(inn){
                document.getElementById("theweather").innerHTML = "<img src='" + inn[2] + "' /> " + inn[1] + "°";
        })
    }

</script>
{% endblock %}
